@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

body{
     background-color: black;
}

label, select{
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     color:  #03CFFF;
}


@-webkit-keyframes PULSE {
  0%   { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
@-moz-keyframes PULSE {
  0%   { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
@-o-keyframes PULSE {
  0%  { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
@keyframes PULSE {
  0%   { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 10px 0 #03CFFF;
  }
  50% {
      -webkit-box-shadow: 0 0 20px 0 #03CFFF;
  }
  100% {
      -webkit-box-shadow: 0 0 10px 0 #03CFFF;
  }
}

html {background-color: black;}
#cv {background-image: url("../SVG/background.svg");}
#simCanvas {
  position: absolute;
  top: 50px;
  left: 250px;
  border: blue 2px;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 20px;
}
/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.btn{
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     border-color: #03CFFF;
     background-color: black;
     box-shadow: 0px 0px 10px 1px #03CFFF;
     width: 10vw;
     height: 8vh;
     color:  #03CFFF;
     border-radius: 10px;
     margin-bottom: 30px;
     margin-left: 30px;
     transition: all 0.25s ease;

}

.btn:hover{
     border-color: #ffb725;
     box-shadow: 0px 0px 10px 1px #ffb725;
     color:  #ffb725;
}

.right{
     justify-content: center;
     align-items: center;
     margin-top: 100px;
}

.sidenav > div {
	margin-top: 10%;
}

.sidenav > div > input {
	width: 50px;
}

.sidenav > h2 {
	font:"Lucida Console", Monaco, monospace;
	color: #2e28ed;
}

.sidenav > div >  p {
	color: white;
}

#log {
	list-style-type: none;
	color: white;
}

.SimFlex{
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

.SimLeft, .SimRight{
     display:flex;
     flex-direction: column;

     margin-right: 50px;
     /* align-items: center;
     justify-content: center; */
}

.TankSetup{
     margin-top: 50px;
     display:flex;
     flex-direction: column;
     height: 100vh;

     /* align-items: center;
     justify-content: center; */
}

.TankLabel{
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     color:  #03CFFF;
     margin-bottom: 10px;

}

.MapLabel{
     font-size: 300%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25%;
    top: 10%;
    width: 50%; /* Full width */
    height: 70%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
    border: 2px solid;
    border-radius: 10px;
    border-color: #03CFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.deleteTankBtn{
     float: right;
     margin-right: 30px;
     margin-top: 30px;
}

.close{
    color: #03CFFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: -40px;
}

.ChooseMapDisplay{
     margin-top: 20px;
     margin-bottom: 30px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     border-color: #03CFFF;
     background-color: black;
     box-shadow: 0px 0px 10px 1px #03CFFF;
     color:  #03CFFF;
     border: 2px solid;
     border-radius: 10px;
     height: 66vh;
     width: 50vw;
     justify-content: center;
     align-items: center;
     padding-left: auto;
     text-align: center;
}

.NumEnemies, .EnemySetup{
     margin-top: 50px;
     display:flex;
     flex-direction: column;
     /* align-items: center;
     justify-content: center; */
}

.EnemyBoxes{
     margin-top: 20px;
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

.EnemyCount{
     margin-top: 20px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     border-color: #03CFFF;
     background-color: black;
     box-shadow: 0px 0px 10px 1px #03CFFF;
     color:  #03CFFF;
     border-radius: 10px;
     width: 5vw;
     justify-content: center;
     align-items: center;
     padding-left: auto;
     text-align: center;
}

.MapSelect{
     width: 40vw;
     height: 50px;
     margin-left: 50px;
}

.radioBtn label::before{
     content: '';
     border-radius: 100%;
     height: 15px;
     width: 15px;
     top: 5px;
     left: 5px;
     margin: auto;
     transition: border .25s linear;
     -webkit-transtion: border .25s linear;
}

input[type=radio]{
     position: absolute;
     opacity: 0;
     cursor: pointer;
}

input[type=radio]:checked ~ .check{
     border: 5px solid #FFFFFF;
}

input[type=radio]:checked ~ .check::before{
     background: #00FFFF;
}

.radioBtn{
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     color:  #03CFFF;
}



.EnemyList{
     padding-top: 10px;
     padding-bottom: 10px;
     margin-right: 20px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     border-color: #03CFFF;
     background-color: black;
     box-shadow: 0px 0px 10px 1px #03CFFF;
     color:  #03CFFF;
     border-radius: 10px;
     width: 10vw;
}

.PlayerAIList,  .EnemyAIList{
     padding-top: 10px;
     padding-bottom: 10px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     border-color: #03CFFF;
     background-color: black;
     box-shadow: 0px 0px 10px 1px #03CFFF;
     color:  #03CFFF;
     border-radius: 10px;
     width: 20vw;
}

select option:checked{
     color: black !important;
     background: #03CFFF !important;

}

select option:hover{
     background:#03CFFF;
     color: black;
}

.paintGrid{
     border: 1px solid #03CFFF;
}

.log-in{
	display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}



.title{
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150px;
     color:  #03CFFF;
     -webkit-box-reflect: below -80px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
     -webkit-margin-before: 0px !important;
     -webkit-margin-after: 0px !important;
     /* animation: PULSE 3s infinite; */
}

.vbLabel
{
     visibility: hidden;
     display: none;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     text-align: center;
     font-size: 30px;
     color: #03CFFF;
     margin-left: 30px;
}
.StartScreen{
     background-color: black;
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

#start{
     margin-top: 100px;
     animation: PULSE 2s infinite;
}

.container{
     background-color: black;
     height: 100vh;
     width: 100vw;
}

.flex-parent{
     display: flex;
     flex-direction: row;
}

.bottom{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     width: 75vw;
     height: 25vh;
}
.flex-dash{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: auto;
}

.menu{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-left: auto;
     margin-right: auto;
     width: 25vw;
     height: 100vh;
}



.RunSimBtn{
     width: 50vw;
     margin-left: 0px;
}

.autoplaybtn{
	font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 150%;
     border-color: #32CD32;
     background-color: black;
     box-shadow: 0px 0px 10px 1px #32CD32;
     width: 10vw;
     height: 8vh;
     color:  #32CD32;
     border-radius: 10px;
     margin-bottom: 30px;
     margin-left: 30px;
}

.editor{
     text-transform: uppercase;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 30px;
     background-color: black;
     box-shadow: 0px 0px 50px 3px #03CFFF;
     animation: pulse ran infinite;
     color:  #03CFFF;
     width: 75vw;
     height: 60vh;
     max-height: 70vh;
     resize: none;
     border-radius: 10px;
     border-color: #03CFFF;
     margin-left: 70px;
     margin-top: 50px;
     padding: 10px;
}

#error {
     display: none;
     color: red;
     background-color: #00D8FF;
     border-radius: 10px;
     text-align: center;
     vertical-align: middle;
     padding: 12px;
     font-family: "source sans pro", sans-serif;
     font-size: 16px;
}

#message {
     display: none;
     background-color: #00D8FF;
     border-radius: 10px;
     text-align: center;
     vertical-align: middle;
     padding: 12px;
     font-family: "source sans pro", sans-serif;
     font-size: 16px;
}

.valueBox{
     text-transform: uppercase;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 30px;
     background-color: black;
     box-shadow: 0px 0px 50px 3px #03CFFF;
     animation: pulse ran infinite;
     color:  #03CFFF;
     width: 5vw;
     height: 5vh;
     max-height: 5vh;
     resize: none;
     border-radius: 10px;
     border-color: #03CFFF;
     margin-left: 30px;
     margin-top: 10px;
     margin-bottom: 30px;
     padding: 10px;
}

.top{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     width: 75vw;
     height: 10vh;
}

.filename{
     text-transform: uppercase;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 30px;
     background-color: black;
     box-shadow: 0px 0px 50px 3px #03CFFF;
     animation: pulse ran infinite;
     color:  #03CFFF;
     width: 40vw;
     height: 5vh;
     max-height: 8vh;
     resize: none;
     border-radius: 10px;
     border-color: #03CFFF;
     margin-left: 70px;
     margin-top: 50px;
     padding: 10px;
}

.text-area{
     text-transform: uppercase;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: 200;
     font-size: 30px;
     background-color: black;
     box-shadow: 0px 0px 50px 3px #03CFFF;
     animation: pulse ran infinite;
     color:  #03CFFF;
     width: 40vw;
     height: 5vh;
     max-height: 8vh;
     resize: none;
     border-radius: 10px;
     border-color: #03CFFF;
     margin-left: 70px;
     margin-top: 50px;
     padding: 10px;
}

.flexRow{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.flexCol{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.TankInfoHead{

}
.TankInfoBody{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.TankInfo{

}

.tankName{
     width: 20vw;
     height: 5vh;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: auto;
}

.tankCoordinates{
     width: 5vw;
     height: 5vh;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
}

.XY{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.XYLabel{
     margin-top: 30px;
     margin-left: 30px;
}


#user-login, #password-login, #firstName, #lastName, #email,
#user-signup, #password-signup, #repassword-signup{
     width: 20vw;
     height: 5vh;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: auto;
}
#password-login{
     margin-bottom: 20px;
}

#openfile{
     height: 8vh;
}

#Login-btn, #Signup-btn, #CreateUser-btn{
     margin-left: 0px;
}

/* trying out a glitch effect */
.glitch {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 150px;
  color:  #03CFFF;
  -webkit-box-reflect: below -80px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.glitch::before {
  /* ... anything needed to make it identical */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 150px;
  color:  #03CFFF;
  /* variation */
  left: 5px;
  text-shadow: -3px 0 red;

  /* important: opaque background masks the original */
  background: black;
}

.glitch::after {
  /* ... anything needed to make it identical */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 150px;
  color:  #03CFFF;
  /* variation */
  left: -5px;
  text-shadow: -3px 0 blue;

  /* important: opaque background masks the original */
  background: black;
}

@keyframes glitch-anim {
  0% {
    clip: rect(70px, 450px, 76px, 0);
  }
  20% {
    clip: rect(29px, 450px, 26px, 0);
  }
  40% {
    clip: rect(76px, 450px, 73px, 0);
  }
  60% {
    clip: rect(42px, 450px, 78px, 0);
  }
  80% {
    clip: rect(15px, 450px, 13px, 0);
  }
  100% {
    clip: rect(53px, 450px, 5px, 0);
  }
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(70px, 450px, 76px, 0);
  }
  20% {
    clip: rect(29px, 450px, 16px, 0);
  }
  40% {
    clip: rect(76px, 450px, 3px, 0);
  }
  60% {
    clip: rect(42px, 450px, 78px, 0);
  }
  80% {
    clip: rect(15px, 450px, 13px, 0);
  }
  100% {
    clip: rect(53px, 450px, 5px, 0);
  }
}

@-webkit-keyframes glitch-anim-1 {
  0% {
    clip: rect(88px, 450px, 83px, 0);
  }
  20% {
    clip: rect(69px, 450px, 153px, 0);
  }
  40% {
    clip: rect(30px, 450px, 46px, 0);
  }
  60% {
    clip: rect(15px, 450px, 88px, 0);
  }
  80% {
    clip: rect(35px, 450px, 48px, 0);
  }
  100% {
    clip: rect(8px, 450px, 157px, 0);
  }
}

@-webkit-keyframes glitch-anim-2 {
  0% {
    clip: rect(90px, 450px, 100px, 0);
  }
  20% {
    clip: rect(70px, 450px, 57px, 0);
  }
  40% {
    clip: rect(15px, 450px, 125px, 0);
  }
  60% {
    clip: rect(33px, 450px, 18px, 0);
  }
  80% {
    clip: rect(67px, 450px, 48px, 0);
  }
  100% {
    clip: rect(10px, 450px, 120px, 0);
  }
}

@-moz-keyframes glitch-anim {
  0% {
    clip: rect(70px, 450px, 76px, 0);
  }
  20% {
    clip: rect(29px, 450px, 16px, 0);
  }
  40% {
    clip: rect(76px, 450px, 3px, 0);
  }
  60% {
    clip: rect(42px, 450px, 78px, 0);
  }
  80% {
    clip: rect(15px, 450px, 13px, 0);
  }
  100% {
    clip: rect(53px, 450px, 5px, 0);
  }
}

@-o-keyframes glitch-anim {
  0% {
    clip: rect(70px, 450px, 76px, 0);
  }
  20% {
    clip: rect(29px, 450px, 16px, 0);
  }
  40% {
    clip: rect(76px, 450px, 3px, 0);
  }
  60% {
    clip: rect(42px, 450px, 78px, 0);
  }
  80% {
    clip: rect(15px, 450px, 13px, 0);
  }
  100% {
    clip: rect(53px, 450px, 5px, 0);
  }
}


#sign-up{
     display: none;
     visibility: hidden;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
